<div class="page-container">
  <div class="introduction" id="introduction">
    <app-header></app-header>
    <h1 class="big-text">Hello, Welcome</h1>
    <mat-card class="social-media-card">
      <div class="social-media-icons">
        <a href="https://github.com/Angelos-Tsitsoli" target="_blank">
          <img src="assets/github-icon.png" alt="Github" />
        </a>
        <a
          href="https://www.linkedin.com/in/aggelos-tsitsoli-b0913522a/"
          target="_blank"
        >
          <img src="assets/linkedin-icon.png" alt="LinkedIn" />
        </a>
      </div>
    </mat-card>
    <button class="scroll-button" (click)="scrollToContent()">About me</button>
  </div>
  <div class="content-container" id="about">
    <h1 class="about-me">About me</h1>
    <h2 class="about-me-description">
      Here are some things about me like a small description and the programming
      languages i have worked with
    </h2>
    <div class="description">
      <mat-card>
        <p>
          I have completed my degree at the National and Kapodistrian University
          of Athens, in Informatics and Telecommunications.
        </p>
        <p>
          With a strong academic foundation in software development,
          programming, and problem-solving, I have gained hands-on experience
          through university projects and a six-month internship at Netcompany –
          Intrasoft.
        </p>
        <p>
          During my internship, I worked as a developer, further enhancing my
          skills in web development, object-oriented programming, and team
          collaboration.
        </p>

        <p>
          I am proficient in multiple programming languages, including
          JavaScript, React, Python, and Java, and have a solid understanding of
          technologies such as Git, Artificial Intelligence, Data Structures,
          and Compilers.
        </p>
        <p>
          I am passionate about leveraging my technical expertise and
          problem-solving abilities to contribute to innovative IT projects and
          am actively seeking a full-time role in the field.
        </p>
      </mat-card>
    </div>
    <div class="prog-languages">
      <mat-card class="outer-card">
        <p>Programming languages i have worked with:</p>
        <div class="row">
          <mat-card class="prog-card">
            <mat-card-content>HTML</mat-card-content>
          </mat-card>
          <mat-card class="prog-card">
            <mat-card-content>C</mat-card-content>
          </mat-card>
          <mat-card class="prog-card">
            <mat-card-content>C++</mat-card-content>
          </mat-card>
          <mat-card class="prog-card">
            <mat-card-content>JS</mat-card-content>
          </mat-card>
        </div>
        <div class="row">
          <mat-card class="prog-card">
            <mat-card-content>Java</mat-card-content>
          </mat-card>
          <mat-card class="prog-card">
            <mat-card-content>Python</mat-card-content>
          </mat-card>
          <mat-card class="prog-card">
            <mat-card-content>Angular</mat-card-content>
          </mat-card>
          <mat-card class="prog-card">
            <mat-card-content>React</mat-card-content>
          </mat-card>
        </div>
        <div class="row">
          <mat-card class="prog-card">
            <mat-card-content>SQL</mat-card-content>
          </mat-card>
          <mat-card class="prog-card">
            <mat-card-content>Matlab</mat-card-content>
          </mat-card>
          <mat-card class="prog-card">
            <mat-card-content>Bash</mat-card-content>
          </mat-card>
          <mat-card class="prog-card">
            <mat-card-content>Spring Boot</mat-card-content>
          </mat-card>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="projects" id="projects">
    <h1 class="some-projects">Some of my projects</h1>
    <mat-card class="project-card">
      <a href="https://github.com/Angelos-Tsitsoli/Creation-Of-A-Shell" target="_blank">
      <img src="assets/bash.jpg" alt="Project 1" class="project-image" />
      <div class="project-description"><h3 class="large-heading">Bash Project</h3></div>    </a>
    </mat-card>
    <mat-card class="project-card">
      <a href="https://github.com/Angelos-Tsitsoli/Machine-Learning-Project" target="_blank">
      <img src="assets/Machine learning.webp" alt="Project 2" class="project-image" />
      <div class="project-description"><h3 class="large-heading">Machine Learning Project</h3></div>
    </a>
    </mat-card>
    <mat-card class="project-card">
      <a href="https://github.com/Angelos-Tsitsoli/Data-Mining-Project" target="_blank">
      <img src="assets/Data Mining-1.png" alt="Project 3" class="project-image" />
      <div class="project-description"><h3 class="large-heading">Data Mining Project</h3></div>
    </a>
    </mat-card>
  </div>
  <section class="contact" id="contact">
    <mat-card class="contact-card">
      <div class="contact-form-container">
        <div class="contact-form">
          <form action="https://formspree.io/f/myzylrlj" method="POST">
            <div class="form-control">
              <label for="name">Name</label>
              <input
                type="text"
                id="name"
                name="sender-name"
                placeholder="Enter Your Name"
                class="input-field"
                required
              />
            </div>
            <div class="form-control">
              <label for="email">Email</label>
              <input
                type="email"
                id="email"
                name="sender-email"
                placeholder="Enter Your Email"
                class="input-field"
                required
              />
            </div>
            <div class="form-control">
              <label for="message">Message</label>
              <textarea
                id="message"
                cols="60"
                rows="10"
                placeholder="Enter Your Message"
                name="message"
                class="input-field"
                required
              ></textarea>
            </div>
            <input
              type="submit"
              value="Submit"
              id="submit-btn"
              class="submit-btn"
            />
          </form>
        </div>
      </div>
    </mat-card>
  </section>
  <div class="footer">
    <p>&copy; 2024 Angelos-Tsitsoli. All rights reserved.</p>
  </div>
</div>
